<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="YahooUrl" value="http://query.yahooapis.com/v1/public/yql?q=select+*+from+yahoo.finance.quotes+where+symbol+in+('@')&amp;format=json&amp;diagnostics=true&amp;env=http://datatables.org/alltables.env"/>
    <add key="GoogleUrl" value="http://finance.google.com/finance/info?q="/>
  </appSettings>
</configuration>